RESEND_API_KEY=
ENQUIRY_FROM_EMAIL="1st Call UK Web & Digital <info@1stcalluk.com>"
ENQUIRY_TO_EMAIL=info@1stcalluk.com
ENQUIRY_NOTIFY_EMAIL=getu4ever@gmail.com

NEXT_PUBLIC_PORTAL_URL=https://1st-calluk-portal.vercel.app
PORTAL_ENQUIRY_URL=https://1st-calluk-portal.vercel.app/api/enquiries
PORTAL_ENQUIRY_SECRET=
